@import 'normalize.css';
button:focus {outline:0;}

html, body {
	height: 100%;
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: white;
	background: #1A1A1A;
}

html {
	font-size: 16px;
}

a {
	color: #f5aa44;
}

main, #game {
	height: 100%;
	width: 100%;
}

#game {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	user-select: none;
}

#game polygon {
	cursor: pointer;
}

#game svg {
	margin: 10px 0;
}

#game:not(.success):not(.failure):not(.stuck) h2 {
	margin: 0;
	color: white;
}

button {
	color: white;
	background: none;
	-webkit-appearance: none;
	cursor: pointer;
	padding: 8px;
	border: 1px solid white;
}

#abilities button:not(:last-child) {
	margin-right: 12px;	
}

#abilities button:disabled {
	color: grey;
	border-color: grey;
}

#abilities button.barrier.active {
	width: 101px;	
}

#abilities button.barrier.active {
	background: cyan;
	color: #333;
	border-color: cyan;
}

#abilities button.teleport.active {
	background: yellow;
	color: #333;
	border-color: yellow;
}

#abilities button.help.active {
	background: lightgreen;
	color: #333;
	border-color: lightgreen;
}

#game.continue > div {
	margin-bottom: 20px;
	max-width: 400px;
}

#game.success h2 {
	color: lightgreen;
}

#game.failure h2 {
	color: red;
}

#game.stuck h2 {
	color: orange;
}

#game div.help {
	position: fixed;
	padding: 24px;
	color: white;
	background: rgba(0, 0, 0, 0.9);
}

#game div.help hr {
	margin-top: 20px;
	border-color: #999;
	border-bottom-width: 1px;
}

#game div.help small {
	color: #999;
}

@media screen and (min-width: 769px) {
	#game div.help {
		top: 0;
		left: 0;	
		width: 300px;
		height: 100%;
	}

	#game div.help button {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	#game div.help {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}