@import 'normalize.css';
@import 'node_modules/bootstrap/scss/bootstrap';

button:focus {outline:0;}

html, body {
	height: 100%;
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

html {
	font-size: 16px;
}

a {
	color: #f5aa44;
}

#root {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	max-width: 300px;
}

.runway {
	width: 5px;
	display: inline-block;
	position: relative;
}

.pokemon {
	width: 48px;
	height: 48px;
	background-size: cover;
	position: absolute;
	bottom: 0;
	left: 0;
	display: inline-block;
	animation: walkStep 0.2s infinite;
}

.walkin {
	animation: walkinAnim forwards 0.8s linear, walkStep 0.2s infinite;
}

.walkout {
	animation: walkoutAnim forwards 0.6s linear, walkStep 0.2s infinite;
}

button {
	margin-top: 5px;
}

.hidden {
	opacity: 0;
}

@keyframes walkinAnim {
	0% {
		left: -50vw;
	}

	100% {
		left: -24px;
	}
}

@keyframes walkoutAnim {
	0% {
		left: -24px;
	}

	100% {
		left: 50vw;
	}
}

:root {
	--frame1-url: url("../public/overworld/right/136.png");
	--frame2-url: url("../public/overworld/right/frame2/136.png");
}

@keyframes walkStep {
	from {
		background-image: var(--frame1-url);/*url("../public/overworld/right/135.png");*/
	}

	to {
		background-image: var(--frame2-url);/*url("../public/overworld/right/frame2/135.png");*/
	}
}